.main-part{
    background-color: #333;
    padding-left: 2rem;
}

.main-heading{
    color: #fff;
    padding-left: 2rem;
}

.main-header {
    background-color: #333;
    text-align: left;
    color: #fff;
}

.link-list{
    text-align: right;
    /* color: beige; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .para-content{
    color: #fff;
  }
  .sign-up{
    color: #fff;
    background-color: rgb(0, 212, 255);
    padding: 10px; 
    border-radius: 15px;

  }

  .image-container{
    float: right;
    
  }

  .child-heading{
    text-align: center;
  }

div.child{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 2em;
}

img{
  border-radius: 8px;
}

.child-content1{
  display: block;
  color: #808080;
}

.sub-child{
  background-color: #808080;
  text-align: center;
  color: #000;
  padding: 2em;
  padding-left: 1em;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
}

.grand-child{
  background: rgb(0,212,255);
  text-align: left;
  color: #000;
  font-size: 1.5em;
  padding: 2em;
}

.button1{
  border-radius: 1em;
  border-color: #000;
  color: #000;
  background-color: rgb(0,212,255);
}
  

  .footer-area{
    border-top: 2em;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 2em;
  }