.grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 80px 80px 80px 80px 80px;
    background-color: #fff;
    padding: 50px;
    justify-content: center;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid;
    padding: 50px;
}

/* dark-mode */
.dark-mode {
    background: black;
    color: white;
  }
    
  .dark-mode .moon-icon {
    display: inline;
  }

.Mheading{
    padding-top: 2px;
    text-align: center;
}

.Sheading{
    text-align: center;
}

.btns{
    position: relative;
    justify-content: center;
    text-align: center;
}

#btnR{
    color: #fff;
    background-color: #303F9F;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    border-radius: 5px;
}

#enable{
    color: #fff;
    background-color: #388E3C;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
}
/* effect */


#disable{
    color: #fff;
    background-color: #FF5252;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    border-radius: 5px;
}

#knop{
    border-radius: 5px;
    padding: 3px;
}

/* centering */
/* body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
} */

.footer {
    text-align: center;
}